
@using WebArticles.Data;

<div style="width:600px">

    <article class="media">       
        <div class="media-content">
            <div class="content">
                <p>
                    <strong>Author: @Article.Author </strong> <br /> 
                    <br>
                    @Article.Content
                </p>
                <br>
                <strong><a href="@Article.Url"> Go to source</a></strong>
            </div>
        </div>
    </article>
    
</div>

@code {
     [Parameter] public Article Article { get; set; }
}